<div class="social-navbar">
  <a href="https://linkedin.com">
    <svg class="social-navbar__icon">
      <use xlink:href="assets/img/icons/sprite.svg#linkedin-icon"></use>
    </svg>
  </a>
  <a href="https://linkedin.com">
    <svg class="social-navbar__icon">
      <use xlink:href="assets/img/icons/sprite.svg#messenger-icon"></use>
    </svg>
  </a>
  <a href="https://linkedin.com">
    <svg class="social-navbar__icon">
      <use xlink:href="assets/img/icons/sprite.svg#twitter-icon"></use>
    </svg>
  </a>
</div>
