$color-white: #ffffff;
$color-green: #173817;
$color-lemon: #dbd978;
$color-pink: #ff97b3;
$color-red: #780d1a;
$color-mint: #b3dfb3;
$color-metal: #31363d;
$color-grey: #a9a9a9;
$color-platinum: #d6d7d8;
$color-jade: #00b56d;
$color-cardinal: #d1003f;
$color-sea-green: #008751;
