.contact-section {
  padding: 80px 0 80px 0;
  .contact-form {
    padding: 0 50px;
    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 40px 0 40px 0;
  }
}
