.content-card {
  &__inner {
    padding: 68px 47px 68px 47px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    -webkit-mask-image: url("../assets/img/content-card-mask.svg");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url("../assets/img/content-card-mask.svg");
    p {
      color: $color-white;
      opacity: 0.8;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-down(xl) {
      padding: 50px 40px;
      gap: 15px;
    }
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      padding: 40px 50px;
    }
    @include media-breakpoint-down(md) {
    -webkit-mask-size: auto;
      padding: 30px 40px;
      p {
        font-size: 18px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    order: 0;
    margin-bottom: 15px;
  }
}
